<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spending Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body> 
    <header>
        <h1 class="logo">LOGO</h1>
    </header>
    <div class="wrapper"> 
        <main class="menu-bar">
            <nav>
                <ul>
                    <li> <a href="/transactions">Transactions </a> </li>
                    <li> <a href="/tags">My Tags </a> </li>
                    <li> <a href="/merchants">Merchants </a> </li>
                </ul>
            </nav>

        </main>
        <section id="main-content">
            {% block content %}
                
            {% endblock content %}
        </section>
    </div>
</body>
</html>