<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spending Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">

</head>
<body> 
    <header>
        
        <a href="/"><h1 class="logo">LOGO</h1></a>
    </header>
    <div class="wrapper"> 
        <main class="menu-sidebar">
            <nav>
                <ul>
                    <li> <a href="/transactions">Dashboard </a> </li>
                    <li> <a href="/tags"> My Tags </a> </li>
                    <li> <a href="/merchants">Merchants </a> </li>
                    <li> <a href="/">Help </a> </li>
                </ul>
            </nav>

        </main>
        <section id="main-content">
            {% block content %}
                
            {% endblock content %}
        </section>
    </div>
</body>
</html>