<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spending Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://kit.fontawesome.com/eaad54b1f4.js" crossorigin="anonymous"></script>

</head>
<body> 
    <header>
        
        <a href="/" ><img class="img1" src="/static/images/spendless-logo-02.png" alt="SpendLess"></a>
    </header>
    <div class="wrapper"> 
        <main class="menu-sidebar">
            <nav>
                <ul>
                    <li> <a href="/transactions?tags=all&sort=date-newest">Dashboard </a> </li>
                    <li> <a href="/tags"> My Tags </a> </li>
                    <li> <a href="/merchants">Merchants </a> </li>
                    <li> <a href="/">Help </a> </li>
                </ul>
            </nav>

        </main>
        <section class="main-content">
            {% block content %}
                
            {% endblock content %}
        </section>
    </div>
</body>
</html>