{% extends 'base.html' %}

{% block content %}

<h1> Hello! Let's help you SpendLess...</h1>

<p> Here's some interesting text about how to not spend money in a silly way</p>
<p> Here's some interesting text about how to not spend money in a silly way</p>
<p> Here's some interesting text about how to not spend money in a silly way</p>
<p> Here's some interesting text about how to not spend money in a silly way</p>
<p> Here's some interesting text about how to not spend money in a silly way</p>
    
{% endblock content %}