{% extends 'base.html' %}

{% block content %}

<div class="help-text">

   

    <div class="help-flex">
        <div>
            <h1> Hello! <br> Let's help you SpendLess...</h1>
            <br>
            <p> Here's how not to spend money in a silly way</p>
            <p> Here's how not to spend money in a silly way</p>
            <p> Here's how not to spend money in a silly way</p>
            <p> Here's how not to spend money in a silly way</p>
        </div>
        <div>
            <i class="fa-solid fa-square-poll-vertical fa-8x"></i>
        </div>

    
    </div>
    
</div>
 
{% endblock content %}