{% extends 'base.html' %}

{% block content %}

<div class="help-text">

    <h1> Hello! Let's help you SpendLess...</h1>
    <br>
    <br>

    <p> Here's some interesting text about how to not spend money in a silly way</p>
    <p> Here's some interesting text about how to not spend money in a silly way</p>
    <p> Here's some interesting text about how to not spend money in a silly way</p>
    <p> Here's some interesting text about how to not spend money in a silly way</p>
    <p> Here's some interesting text about how to not spend money in a silly way</p>
    
</div>
 
{% endblock content %}