{% extends 'base.html' %}

{% block content %}

<h1 class="page-title">Merchants</h1>

<div class="new-button info-bar">
    <button><a href="/merchants/new">Add New</a></button>
</div>

<div class="list-block">
    <ul>
        {% for merchant in all_merchants %}
                <li>Name: <b>{{ merchant.name }}</b> </li>

                <div class="buttons">
                    <form class="update-button" action="/merchants/{{merchant.id}}/edit" method="post">
                        <button>Update</button>
                    </form>

                <div class="buttons">
                    <form class="delete-button" action="/merchants/{{merchant.id}}/delete" method="post">
                        <button>Delete</button>
                    </form>
                </div>
        {% endfor %}
        
    </ul>
</div>

    
{% endblock content %}