{% extends 'base.html' %}

{% block content %}

<div class="new-form">
    <form action="/transactions/{{transaction.id}}" method="post">

        <div>
           <label for="merchant"> Merchant:</label>
           <select name="merchant_id" id="merchant" required>
            {% for merchant in all_merchants %}
                <option {% if transaction.merchant_id == merchant.id  %} selected {% endif %} value="{{merchant.id}}">
                {{merchant.name}}
                </option>
            {% endfor %}
            </select>

        </div>


        <div>
            <label for="tag"> Tag:</label>
            <select name="tag_id" id="tag" required>
             {% for tag in all_tags %}
                 <option value="{{tag.id}}">{{tag.name}}</option>
             {% endfor %}
            </select>
         </div>


        <div>
            <label for="description">Description:</label>
            <input type="text" id="description" name="description" value="{{transaction.description}}" required autofocus>
        </div>

        <div>
            <label for="date">Date:</label>
            <input type="date" id="date" name="date" required>
        </div>

        <div>
            <label for="price">Total (£):</label>
            <input type="number" step="0.01" id="price" name="price" value="{{transaction.price}}" required>
        </div>
        

        
        <br>
        <button type="submit">Update Transaction</button>

    </form>
</div>



{% endblock content %}
