{% extends 'base.html' %}

{% block content %}

<h1 class="page-title">My Dashboard</h1>

<div class="info-elements">

    <div class="target-bar ie-1">

        <div class="total-target">
            Target: <br> <b>£{{target_budget.amount}}</b>
        </div>

        <div>
            <button><a href="/transactions/edit-target">Update</a></button>
        </div>

        <div>
            {% if target_budget.amount > total %}
                ✅
            {% else %}
                ❌
            {% endif %}

        </div>

    </div>

    <div class="total-bar ie-2">

        <div class="total-transactions">
            Total Spent: <br> <b>£{{ total }}</b>
        </div>

    </div>

</div>


<div class="search-bar">

    <div class="button-1">
        <button><a href="/transactions/new">New Transaction</a></button>
    </div>

    <div>
        <form action="transactions/search"></form>
        <input type="text">
        <button class="button-2" placeholder="Enter transaction, merchant, tag" name="search-bar"><a href="">Search</a></button>
    </div>

    <div>

        <form action="/transactions/filter" method="post">

            <div>
                <label for="tags-filter"> Tags:</label>
                <select name="tags-filter" id="tag-filter" required>
                    <option value="all" {% if tag_filter == "all" %} selected="selected" {% endif %}>All</option>
                {% for tag in all_tags %}
                    <option value="{{tag.id}}" {% if tag_filter == "{{tag.id}}" %} selected="selected" {% endif %}>
                        <!-- TAG VALUE??? FOLLOW TO FORM -->
                    {{tag.name}}
                    </option>
                {% endfor %}
            </select>

            </div>

            <div>
                <label for="sort-by-filter"> Sort:</label>
                <select name="sort-by-filter" id="sort-by-filter" required>
                    <option value="lowest" {% if sort_by_filter == "lowest" %} selected="selected" {% endif %}>Price: Lowest</option>
                    <option value="highest" {% if sort_by_filter == "highest" %} selected="selected" {% endif %}>Price: Highest</option>
                    <option value="newest" {% if sort_by_filter == "newest" %} selected="selected" {% endif %}>Date: Newest</option>
                    <option value="oldest" {% if sort_by_filter == "oldest" %} selected="selected" {% endif %}>Date: Oldest</option>
                </select>
            </div>

            <button class="button-2">Filter</button>

        </form>

     </div>


 

</div>



<table class="transaction-table" style="width:100%">
        <thead>
            <!-- <tr>
                <th>Icon </th>
                <th>Transaction</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Buttons</th>
            </tr> -->
        </thead>
    
        {% for transaction in all_transactions %}
            <tr>
                <td> Icon </td>
                <td><b>{{ transaction.tag.name }}</b> <br> {{ transaction.merchant.name }} - {{ transaction.description }} <br> </td>
                <td>{{ transaction.date }}</td>
                <td> <b>£{{ transaction.price }}</b></td>
                <td class="table=buttons">
                    <form class="update-button" action="/transactions/{{transaction.id}}/edit" method="post">
                            <button><i class="fa-solid fa-pen-to-square"></i></button>
                    </form>
            
                </td>
                <td>
                    <form class="delete-button" action="/transactions/{{ transaction.id }}/delete" method="post">
                        <button><i class="fa-solid fa-trash-can"></i></i></button>
                </td>
            </tr>
        {% endfor %}
        </tr>
</table>

</div>

<!-- 
<div>
    <ul>
        {% for transaction in all_transactions %}

        
            <div class="list-block">   
                <li class="list-item div1" id="list-merchant-tag">
                <b>{{ transaction.tag.name }} </b>
                <br>
                </li>

                <li class="list-item div2">
                    {{ transaction.merchant.name }} - {{ transaction.description }}
                </li>

                <li class="list-item div4" id="list-date">
                    {{ transaction.date }}
                </li>
                
                <li class="list-item div5" id="list-price">
                    <b>£{{ transaction.price }}</b>
                </li>

                <div class="buttons div3">
                    <form class="update-button" action="/transactions/{{transaction.id}}/edit" method="post">
                        <button>Update</button>
                    </form>
                </div>

                <div class="buttons div6">
                    <form class="delete-button" action="/transactions/{{ transaction.id }}/delete" method="post">
                        <button><i class="fa fa-trash-o fa-2x"></i></button>
                    </form>
                </div>
            </div>
            
        {% endfor %}
        
    </ul>
</div> -->

    
{% endblock content %}