{% extends 'base.html' %}

{% block content %}

<h1>Dashboard</h1>

<div class="total-transactions">
    TOTAL: £{{ total }}
</div>

<br>

<div class="new-button">
    <button><a href="/transactions/new">Add New</a></button>
</div>


<div class="list-block">
    <ul>
        {% for transaction in all_transactions %}
                <li class="list-item">
                <b>{{ transaction.tag.name }} - {{ transaction.merchant.name }} : </b>  <i> '{{ transaction.description }}' </i>  &nbsp; &nbsp; &nbsp; {{ transaction.date }} &nbsp; <b>£{{ transaction.price }}</b>
                <br>
                
                </li>

                <div class="buttons">
                    <form class="update-button" action="/transactions/{{transaction.id}}/edit" method="post">
                        <button>Update</button>
                    </form>
                    <form class="delete-button" action="/transactions/{{ transaction.id }}/delete" method="post">
                        <button>Delete</button>
                    </form>

                <div class="buttons">

                    <br>

                </div>
        {% endfor %}
        
    </ul>
</div>

    
{% endblock content %}