{% extends 'base.html' %}

{% block content %}

<h1 class="page-title">Set Target Amount</h1>

<div class="new-form">
    <form action="/transactions/update-target" method="post">

        <div>
            <label for="target"> Target (£):</label>
            <input type="number" step="0.01" name="target" required autofocus>

        </div>
        <br>
        <div>
            Add date filter range?
            <br>
        </div>

        <button type="submit">Update</button>


{% endblock content %}